@model RegisterViewModel
@{
    ViewData["Title"] = "Index";
	Layout = null;
}


<!doctype html>
<html lang="en">
<head>
	<title>RentACarFiliterProject - Yeni Üyelik</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

	<link rel="stylesheet" href="~/login-form-11/css/style.css">
</head>
<body>
	<section class="ftco-section">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-md-7 col-lg-5">
					<div class="login-wrap p-4 p-md-5">
						<h3 style="font-family:Corbel" class="text-center mb-4">Yeni Üyelik Oluştur</h3>
						<form method="post" class="login-form">
							<div class="form-group">
								<input type="text" class="form-control rounded-left" asp-for=Name placeholder="Ad" required>
							</div>
							<div class="form-group">
								<input type="text" class="form-control rounded-left" asp-for=Surname placeholder="Soyad" required>
							</div>
							<div class="form-group">
								<input type="email" class="form-control rounded-left" asp-for=Email placeholder="E-posta" required>
							</div>
							<div class="form-group">
								<input type="text" class="form-control rounded-left" asp-for=UserName placeholder="Kullanıcı Adı" required>
							</div>
							<div class="form-group d-flex">
								<input type="text" class="form-control rounded-left" asp-for=Password placeholder="Parola" required>
							</div>
							<div class="form-group d-md-flex">
								<div class="w-50">
									<label class="checkbox-wrap checkbox-primary">
										<span><a href="javascript:void(0);">Kullanım Koşulları</a>'nı onaylıyorum.</span>
										<input required type="checkbox" />
										<span class="checkmark"></span>
									</label>
								</div>
								<div class="w-50 text-md-right">
									<a href="/Login/Index">Bir Hesabınız Var Mı?</a>
								</div>
							</div>
							<div class="form-group">
								<button type="submit" class="form-control btn btn-primary rounded submit px-3">Kayıt Oluştur</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</section>

	<script src="~/login-form-11/js/jquery.min.js"></script>
	<script src="~/login-form-11/js/popper.js"></script>
	<script src="~/login-form-11/js/bootstrap.min.js"></script>
	<script src="~/login-form-11/js/main.js"></script>

</body>
</html>

