<footer class="site-footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <h2 class="footer-heading mb-4">Car Rental</h2>
                <p>Hızlı ve premium hizmet en uygun fiyatlara CarRental' da! </p>
                <ul class="list-unstyled social">
                    <li><a href="https://instagram.com/batuhanyalin"><span class="icon-instagram"></span></a></li>
                    <li><a href="#"><span class="icon-twitter"></span></a></li>
                    <li><a href="https://linkedin.com/in/batuhanyalin"><span class="icon-linkedin"></span></a></li>
                    <li><a href="https://github.com/batuhanyalin"><span class="icon-github"></span></a></li>
                </ul>
            </div>
            <div class="col-lg-8 ml-auto">
                <div class="row">
                    <div class="col-lg-3">
                        <h2 class="footer-heading mb-4">Hızlı Linkler</h2>
                        <ul class="list-unstyled">
                            <li><a href="/About/Index">Hakkımızda</a></li>
                            <li><a href="#">Hizmetler</a></li>
                            <li><a href="#">Şartlar & Koşullar</a></li>
                            <li><a href="#">Güvenlik</a></li>
                            <li><a href="#">Çerez Politikası</a></li>
                        </ul>
                    </div>
                    <div class="col-lg-3">
                        <h2 class="footer-heading mb-4">Müşteri Desteği</h2>
                        <ul class="list-unstyled">
                            <li><a href="#">Sıkça Sorulanlar</a></li>
                            <li><a href="#">Ödeme Yöntemleri</a></li>
                            <li><a href="#">Canlı Destek</a></li>
                            <li><a href="#">Nasıl Çalışır</a></li>
                            <li><a href="#">Bize Yazın</a></li>
                        </ul>
                    </div>
                    <div class="col-lg-3">
                        <h2 class="footer-heading mb-4">Araç Kiralama</h2>
                        <ul class="list-unstyled">
                            <li><a href="#">İstanbul Araç Kiralama</a></li>
                            <li><a href="#">Ankara Araç Kiralama</a></li>
                            <li><a href="#">İzmir Araç Kiralam</a></li>
                            <li><a href="#">Antalya Araç Kiralama</a></li>
                            <li><a href="#">Aylık Araç Kiralama</a></li>
                        </ul>
                    </div>
                    <div class="col-lg-3">
                        <h2 class="footer-heading mb-4">Şirket</h2>
                        <ul class="list-unstyled">
                            <li><a href="#">Şirket Bilgileri</a></li>
                            <li><a href="#">Reklam</a></li>
                            <li><a href="#">Kariyer</a></li>
                            <li><a href="#">Ödüllerimiz</a></li>
                            <li><a href="#">Sorumluluk</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="row pt-5 mt-5 text-center">
            <div class="col-md-12">
                <div class="border-top pt-5">
                    <p>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        &copy;<script>document.write(new Date().getFullYear());</script> Tüm Hakları Saklıdır. |  <a href="https://linkedin.com/in/batuhanyalin">Batuhan YALIN</a> tarafından yapılmıştır. Github Repo: <a href="https://github.com/batuhanyalin/rentacarfilterproject"><i class="fab fa-github"></i></a>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    </p>
                </div>
            </div>

        </div>
    </div>
</footer>