<h1><a href="/Admin/Default/Index" class="logo"><span style="font-size:x-large">Admin Panel</span></a></h1>
<ul class="list-unstyled components mb-5">

    <li>
        <a href="/Admin/Default/Index">Anasayfa</a>
    </li>
    <li>
        <a href="/Default/Index">Siteye Git</a>
    </li>
    <li>
        <a href="/Admin/Brand/Index">Markalar</a>
    </li>
    <li>
        <a href="/Admin/Location/Index">Lokasyonlar</a>
    </li>
    <li>
        <a href="/Admin/Car/Index">Araçlar</a>
    </li>
    <li>
        <a href="/Admin/Schedule/Index">Rezervasyonlar</a>
    </li>
    <li>
        <a href="/Login/LogOut">Çıkış Yap</a>
    </li>
</ul>