@model List<GetBrandQueryResult>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
    int count = 0;
}

<div class="alert alert-info">
    <div class="row">
        <div class="col col-md-2">
            <h5>Marka Listesi</h5>
        </div>
        <div class="col">
            <h6><a href="/Admin/Brand/CreateBrand" class="btn btn-primary">Yeni Marka</a></h6>
        </div>      
    </div>
</div>
<div style="font-size:small" class="row">
    <table class="table table-bordered table-hover table-light">
        <thead>
            <tr>
                <th>#</th>
                <th>Marka Adı</th>
                <th>Aksiyon</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                count++;
                <tr>
                    <td>@count</td>
                    <td>@item.Name</td>
                    <td >
                        <a style="font-size:small" href="/Admin/Brand/UpdateBrand/@item.BrandId" class="btn btn-warning"><i class="fas fa-undo"></i> Güncelle</a>
                        <a style="font-size:small" href="/Admin/Brand/DeleteBrand/@item.BrandId" class="btn btn-danger"><i class="fas fa-trash-alt"></i> Sil</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>


