@model CarFilterViewModel
<div class="hero" style="background-image: url('/carrentals-master/images/hero_1_a.jpg');">

    <div class="container">
        <div class="row align-items-center justify-content-center">
            <div class="col-lg-12">

                <div class="row mb-5">
                    <div class="col-lg-7 intro">
                        <h1><strong>Aracınızı Kiralayın</strong> hem de tek tıkla!</h1>
                    </div>
                </div>

                <form method="post" asp-action="Index" asp-controller="CarFilter" class="trip-form">
                    <div class="row align-items-center">
                        <div style="font-size:medium" class="mb-2 mb-md-0 col-md-2">
                            <select asp-for="PickUpLocationId" asp-items=@ViewBag.locationList class="custom-select form-control">
                                <option value="" disabled selected>Alış Lokasyonu</option>
                            </select>
                        </div>
                        <div style="font-size:medium" class="mb-2 mb-md-0 col-md-2">
                            <select asp-for="DropOffLocationId" asp-items=@ViewBag.locationList class="custom-select form-control">
                                <option value="" disabled selected>İade Lokasyonu</option>
                            </select>
                        </div>
                        <div class="mb-2 mb-md-0 col-md-3">
                            <div class="form-control-wrap">
                                <input type="date" asp-for="PickUpDate" placeholder="Alım Tarihi" class="form-control">
                              
                            </div>
                        </div>
                        <div class="mb-2 mb-md-0 col-md-3">
                            <div class="form-control-wrap">
                                <input type="date" asp-for="DropOffDate" placeholder="İade Tarihi" class="form-control">
                               
                            </div>
                        </div>
                        <div class="mb-2 mb-md-0 col-md-2">
                            <input type="submit" value="Araçları Listele" class="btn btn-primary btn-block py-3">
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>