@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div style="text-align:center;font-family:Corbel" class="container">
    <div class="row">
        <div class="col col-md-12">
        <div class="alert alert-danger">
            <h2>M&Y Yazılım Eğitim Akademi Danışmanlık' tan Aldığım Eğitim Bünyesinde Hazırladığım 7. Projedir.</h2>
        </div>
        </div>
    </div>
    <div class="row">
        <div class="col col-md-12">
            <div class="alert alert-primary">
                <h3><strong>CQRS ve Mediator Design Pattern</strong> ile Oluşturulan RentACarFilter Projesi</h3>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col col-md-12">
        <div class="alert alert-info">
            <h5>
                Yönetim ve UI Paneli bulunan projede Markalar, Araçlar, Lokasyonlar ve Rezervasyonlar CRUD işlemleriyle manipüle edilebilir,
                btünü veriler listelenerek kontrol edilebilir.
            </h5>
        </div>
        </div>
    </div>
    <div class="row">
        <div class="col col-md-12">
        <div class="alert alert-dark">
            <h6>
                Bununla birlikte UI panelinde bu veriler uygun tasarımla gösterilir, projenin ana odağı
                olan ilgili parametrelere göre filtreleme yöntemiyle araçların listelenmesi de yapılabilmektedir.
            </h6>
            <span>
                İletişim: <a href="mailto:iletisim@batuhanyalin.com">iletisim@batuhanyalin.com</a>
            </span>
        </div>
        </div>
    </div>
</div>


