@model LoginViewModel
@{
    ViewData["Title"] = "Index";
    Layout = null;
}

<!doctype html>
<html lang="en">
<head>
    <title>RentACarFiliterProject - Giriş Yap</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://kit.fontawesome.com/a5532d615c.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="~/login-form-11/css/style.css">

</head>
<body>
    <section class="ftco-section">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-7 col-lg-5">
                    <div class="login-wrap p-4 p-md-5">
                        <div class="icon d-flex align-items-center justify-content-center">
                            <a href="/Default/Index"> <span class="fas fa-home"></span></a>
                        </div>
                        <div style="text-align:center">
                            <p style="font-size:small">Siteye Dön</p>
                        </div>
                        <h3 style="font-family:Corbel" class="text-center mb-4">Hesabınıza Giriş Yapın</h3>
                        <form method="post" class="login-form">
                            <div class="form-group">
                                <input type="text" class="form-control rounded-left" asp-for=UserName placeholder="Kullanıcı Adı" required>
                            </div>
                            <div class="form-group d-flex">
                                <input type="password" class="form-control rounded-left" asp-for=Password placeholder="Parola" required>
                            </div>
                            <div class="form-group">
                                <button type="submit" class="form-control btn btn-primary rounded submit px-3">Giriş Yap</button>
                            </div>
                            <div class="form-group">
                                <div style="text-align:center;align-content:center;align-items:center">
                                    <a href="/Register/Index">Hesabınız Yok Mu?</a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <script src="~/login-form-11/js/jquery.min.js"></script>
    <script src="~/login-form-11/js/popper.js"></script>
    <script src="~/login-form-11/js/bootstrap.min.js"></script>
    <script src="~/login-form-11/js/main.js"></script>

</body>
</html>

