<div class="footer">
    <p>
        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
        &copy;
        <script>document.write(new Date().getFullYear());</script> Tüm Hakları Saklıdır. <br /><a style="color:white" href="https://linkedin.com/in/batuhanyalin">Batuhan YALIN</a> tarafından yapılmıştır. Github Repo: <a style="color:white" href="https://github.com/rentacarfilterproject"><i class="fab fa-github"></i></a>
        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
    </p>
</div>